.aboutuspage{
    background: linear-gradient(93.15deg, #521755 0.85%, rgba(41, 53, 118, 0.9) 100%);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;

margin: 0%;
width: 100%;
}

.paras{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.aboutzbc{

    align-items: flex-end;
    text-align: end;
    width: 60%;
}

.aboutspacedivision{

    align-items: flex-end;
    text-align: start;
    width: 60%;
}
.para{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 5%;
}
.title{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-family: Righteous;
}
.content{
    color: white;
    font-size: 1.5rem;
    font-family: Poppins;
}