
.title999{
    font-size: 3rem;
    margin: 3%;
    color: #433C78;
    font-family: Righteous;
}
.container234{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}
.form{
    display: flex;
    flex-direction: column;
    /* margin: 2%; */
    align-items: stretch;
    justify-content: center;
}
.input{
    align-items: stretch;
    font-size: 1rem;
    margin: -2%;
    width: 200%;
    height: 20%;

}
.message{
    /* align-items: stretch; */
    font-size: 1rem;
    margin: -2%;
    width: 200%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: -2%;
    
}
.launch{
    background: #1E95F6;
    
font-family: Righteous;
    color: floralwhite;
    border-width: 0;
    font-size: 1.5rem;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    cursor: pointer;
    
}
.map{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
;
}
::placeholder{
    /* text-align: start; */
    top: 0rem;
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.85);
}
.footer{
    background: linear-gradient(93.15deg, #521755 0.85%, rgba(41, 53, 118, 0.9) 100%);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    width: 100%;
    margin: 0;
    height: 30%;
    position: relative;
}
.custom-shape-divider-top-1644029748 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644029748 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-top-1644029748 .shape-fill {
    fill: #FFFFFF;
}
.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.toinfinity{
    font-size: 3rem;
    color: white;
    margin:5;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    width: 30%;
}
.mailus{
    font-size: 2.5rem;
}
.mail{
    font-size: 1.5rem;
}
.socialcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.socialmedia{
    border-radius: 100px;
    margin: 2%;
    cursor: pointer;
}
.sociallinks{
    display: flex;
    flex-direction: row;
    
}
.footerrocket{
    margin-right: -400%;
}