.wavyyy3 {
  background: linear-gradient(93.15deg, #521755 0.85%, rgba(41, 53, 118, 0.9) 100%);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
    width: 100%;
    height: 30%;
   position: relative;
  }
  .oureventspage{
    margin: 0;
    font-family: Righteous;
}
.title100{
    text-align: center;
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-underline-offset: 20px;
    text-decoration-line: underline;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 2%;
    text-decoration-thickness: 3%;
    font-family: Righteous;
  }
  .header123{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.custom-shape-divider-bottom-1643994670 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643994670 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}

.custom-shape-divider-bottom-1643994670 .shape-fill {
  fill: #FFFFFF;
}
.cardscontainer{
  display: flex;
  flex-direction: row;
margin: 5%;
  align-items: center;
  justify-content: space-around;
}
.Cards{
  background: linear-gradient(93.15deg, #521755 0.85%, rgba(41, 53, 118, 0.9) 100%);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding:1%
}
.cardimg{
  border-radius: 20px;
  margin: 4%;
}
.viewmorebutton{
  background: white;
  color: black;
  border-width: 0;
  font-size: 1.5rem;
  padding:0.5rem;
  margin: 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}