
  .ourworkpage{
  
    width: 100%;
}
.wavyyy2 {
    background: linear-gradient(93.15deg, #521755 0.85%, rgba(41, 53, 118, 0.9) 100%);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    width: 100%;
    height: 50%;
   position: relative;
  }

  
  .header2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

  }

  .pagetitle{
    text-align: center;
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Righteous;
    align-items: center ;
    text-underline-offset: 20px;
    text-decoration-line: underline;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 2%;
    text-decoration-thickness: 3%;
  }
  .para2{
      text-align: center;
      width: 100%;
    
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    
  }
  .text2{
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 5%;
      color: white;
      font-size: 1.5rem;
      font-family: Poppins;
  }
  .custom-shape-divider-bottom-1643994670 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643994670 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1643994670 .shape-fill {
    fill: #FFFFFF;
}
.moonlaunch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    color: #022275;
}
.coll{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.row{
    flex-direction: row;
    margin: -3.5%;
}
.title2{
    font-size: 3rem;
    color: #330033;
}
.ourorbiters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    color: #022275;
}
.row2{
    flex-direction: row;
    justify-content: space-around;
}

.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
}
.otherprojects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #022275;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
    cursor: pointer;
	border-bottom: 25px solid transparent;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
    cursor: pointer;
	border-bottom: 25px solid transparent;
}

